* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  width: 100%;
  overflow-x: hidden;
}

.background{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  float: none;
}

.duck {
  position: absolute;
  border: dotted red 2px;
  float: none;
    width: 40px;
    height: 36px;
    top: 100px;
    left: -50px;
    background-image: url("http://www.mariomayhem.com/downloads/sprites/duck_hunt/duckhunt_various_sheet.png");
            animation: fly .5s steps(3) infinite;
}

.left {
  transform: scale(-1,1);
}

.shot {
  position: absolute;
  border: dotted red 2px;
  float: none;
    width: 40px;
    height: 36px;
    background-image: url("http://www.mariomayhem.com/downloads/sprites/duck_hunt/duckhunt_various_sheet.png");
            animation: shot 1s steps(1) infinite;
}

.falling {
  position: absolute;
  border: dotted red 2px;
  float: none;
    width: 40px;
    height: 30px;
    background-image: url("http://www.mariomayhem.com/downloads/sprites/duck_hunt/duckhunt_various_sheet.png");
            animation: falling .2s steps(1) infinite;
}

@keyframes fly {
   from { background-position:    0px; }
     to { background-position: -120px; }
}

@keyframes falling {
   0% { background-position:    -40px 30px; }
  50% { background-position: -40px 30px;
        transform: scale(-1, 1); }
 100% { background-position:    -40px 30px; }

}

@keyframes shot {
   from { background-position:    0px 36px; }
     to { background-position: -40px 36px; }
}





