.errors {
  border: solid red 2px;
  color: red;
}

.error-messages {
  color: red;
}

* {margin: 0; padding: 0;}

body {
  background: #ABCDEF;
  font-family: Nunito, arial, verdana;
}
#menu {
  background: #487099;
  width: 250px;
  margin: 100px auto 0 auto;
  color: white;
  /*Some cool shadow and glow effect*/
  box-shadow:
    0 5px 15px 1px rgba(0, 0, 0, 0.6),
    0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#menu h3 {
  font-size: 12px;
  line-height: 34px;
  padding: 0 10px;
  cursor: pointer;
  background: #1A4C80; /*fallback for browsers not supporting gradients*/
}
/*heading hover effect*/
#menu h3:hover {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#menu h3 span {
  font-size: 16px;
  margin-right: 10px;
}
/*list items*/
#menu li {
  list-style-type: none;
}
/*links*/
#menu ul ul li a {
  color: white;
  text-decoration: none;
  font-size: 11px;
  line-height: 27px;
  display: block;
  padding: 0 15px;
  /*transition for smooth hover animation*/
  transition: all 1.15s;
}
/*hover effect on links*/
#menu ul ul li a:hover {
  background: #3CF;
  border-left: 5px solid #2BE;
}
/*Lets hide the non active LIs by default*/
#menu ul ul {
  display: none;
}
#menu li.active ul {
  display: block;
}

